name: Node.js CD

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          port: ${{ secrets.PORT }}
          script: |
            sudo systemctl stop crypto-bot
            cd /home/newwares/programs/crypto-bot
            rm -r node_modules
            git pull origin master
            git status
            npm install --omit=dev
            npm run register
            sudo chmod -R 777 $(pwd)
            sudo systemctl start crypto-bot
