name: Node.js CI

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.13.0
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npx eslint . && npm run build && npm run test

